.transactionDetailContainer {
  width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #fff;
}

.transactionDetailContainer h6 {
  color: black;
  font-size: large;
}